.form-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  .form {
    text-align: center;

    .form-field {
      margin-right: 1rem;
    }

    .form-button {
      margin-left: 1rem;
    }
  }
}
