<div class="form-container">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form">
        <mat-form-field class="form-field">
            <input matInput formControlName="missionName" placeholder="Name" />
        </mat-form-field>

        <mat-form-field class="form-field">
            <input matInput type="number" formControlName="xCoordinate" placeholder="X" />
        </mat-form-field>

        <mat-form-field class="form-field">
            <input matInput type="number" formControlName="yCoordinate" placeholder="Y" />
        </mat-form-field>

        <button mat-raised-button type="submit" class="form-button" [disabled]="isFormIncomplete()">
            Add
        </button>
    </form>
</div>