.player-container {
  display: flex;
  margin: 1rem;

  .player-overview {
    width: 25%;
    margin-right: 1rem;
  }

  .player {
    width: 75%;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;

    .player-overview,
    .player {
      width: 100%;
    }
  }
}

.no-missions-message {
  margin-top: 1rem;
  text-align: center;
}
